body{
    font-family:"Verdana";
    background-color: antiquewhite;
    margin-left:26%;
    margin-right:26%;
    text-align: center;
    border:rgb(235, 189, 91) 10px solid;
    border-style: double;
   
}
h1,.ingredients,.steps{
    font-weight: bolder;
    font-style: italic;
    color:rgb(172, 89, 51)
}
a{
    text-decoration: none;
    color:rgb(126, 35, 35);
    font-weight: bold;
    font-size: large;
}
.img{
    width: 600px;
    height: 400px;
}
.ingredients,.steps{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.title{
    font-weight: 600;
}
ul li{
    font-style: italic;
    font-weight: 50;
    text-align: left;
}
ol li{
    font-style: italic;
    font-weight: 600;
    color:rgb(141, 73, 56);
    text-align: left;
}
.paragraph{
    text-align: left;
    text-shadow: 100mm;
}

    