body{
    font-family:"Verdana";
    background-color: antiquewhite;
    margin-left:28%;
    margin-right:28%;
    text-align: center;
    padding: 30px;
    border:rgb(235, 189, 91) 30px solid;
    border-style: double;
}
h1,.ingredients,.steps{
    font-weight: bolder;
    font-style: italic;
    color:rgb(172, 89, 51)
}
a{
    text-decoration: none;
    color:rgb(126, 35, 35);
    font-weight: bold;
    font-size:large;
}
.img{
    height: 100%;
    width: 100%;
    position: relative;
    vertical-align: middle;
    border-style: none;
}
.ingredients,.steps{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.title{
    font-weight: 600;
}
ul li{
    font-style: italic;
    font-weight: 50;
    text-align: left;
}
ol li{
    font-style: italic;
    font-weight: 600;
    color:rgb(141, 73, 56);
    text-align: left;
}
.paragraph{
    text-align: left;
    text-
}

    